* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    background-image: url('assets/background.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.logo {
    text-align: center;
    padding: 3%;
}


.main-menu {
    text-align: center;
}

.main-menu a {
    text-decoration: none;
}

.main-menu button {
    display: block;
    padding: 10px;
    margin: 40px auto 40px;

    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    color: blueviolet;
}

footer {
    margin-top: 110px;
    text-align: center;
}